<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cs488Project.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C021B2A1BDEF0FC00B28537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C10FBA71BAC72D4005AEADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1CAF4A1BC9E8C20033071E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C260AB21BA10BC2009DAF93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C304D0A1C56ECB0000F7DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7DDFD01BBAFD9500D643EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C850E021BADD41400D691DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAB5CE81BD9712500F00AB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC118B41BB996E500C87A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
